.AboutPage {
  .about {
    font-size: 1.5rem;
    line-height: 1.9;
    text-align: justify;

    .top {
      display: flex;
      align-items: center;

      p {
        padding-right: 40px;
      }
    }
  }
}
