.AboutPage {
  .about {
    font-size: 1.5rem;
    line-height: 1.9;
    text-align: justify;

    .top {
      display: flex;
      align-items: center;

      p {
        padding-right: 40px;
      }
    }
  }
  &.container {
    background: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.4);
    padding: 0 40px 20px;
    // max-width: 1200px;
  }
}
