.AboutPage {
  .about {
    font-size: 1.5rem;
    line-height: 1.9;
    text-align: justify;
    margin-top: 35px;

    .header-big {
      padding-top: 50px;
      margin-bottom: 0;
    }

    .top {
      display: flex;
      align-items: center;

      p {
        padding-right: 40px;
      }
    }
  }
  &.container {
    background: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.4);
    padding: 0 40px 20px;
    width: 95%;
  }

  @media (max-width: 830px) {
    .about {
      font-size: 1.3rem;
      line-height: 1.5;

      .header-big {
        padding-top: 30px;
      }

      .top {
        flex-direction: column;

        p {
          padding: 0 25px;
          margin-top: 0;
        }
      }
      .bottom {
        p {
          padding: 0 25px 25px;
        }
      }
      .logo img {
        max-width: 90%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &.container {
      padding: 0;
      width: 95%;
    }
  }
}
