.ContactPage.container {
  background: white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.4);
  max-width: 800px;
}

h2.header-big {
  text-align: center;
}

.form_container {
  max-width: 650px;
  padding: 50px 0 100px;
  margin: 0 auto;
}

.input {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  input {
    position: relative;
    font-family: "Catamaran", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    background-color: #eee;
    width: calc(100% - 70px);
    height: 60px;
    border-radius: 30px;
    border: none;
    padding: 0 35px;
  }
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  font-family: "Catamaran", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  width: 100%;
  min-height: 170px;
  border-radius: 30px;
  border: none;
  padding: 20px 35px;
  font-size: 1.5rem;
  resize: vertical;
  background-color: #eee;
}

.send_btn {
  font-family: "Catamaran", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 170px;
  padding: 15px 0;
  border: none;
  background-color: #827ffe;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s;

  &:hover {
    width: 190px;
    background-color: #4542cc;
  }
}

.alert-validate {
  &:hover {
    &::after {
      background-color: red;
    }
  }
  &::after {
    content: "!";

    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);

    font-family: "Catamaran", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(221, 0, 0);
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    transition: 0.3s;
    z-index: 100;
  }

  &::before {
    content: attr(validator-message);
    position: absolute;
    max-width: 70%;
    min-width: 70px;
    z-index: 50;
    border: 1px solid red;
    border-radius: 20px;
    padding: 6px 35px 6px 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-family: "Catamaran", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: red;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    font-weight: bold;
  }
}
